@mixin backgroundImageSet {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin pointer {
  cursor: pointer;
}

@mixin display($set) {
  display: $set;
}

