$min-mobile-width: 320px;
$max-mobile-width: 480px;
$min-tablet-width: 481px;
$max-tablet-width: 992px;
$min-pc-width: 993px;
$max-pc-width: 1200px;
$btnAndTitleColor: #8d81ac;
$hoverColor: #ffffff;
$whatYouGetName: #323232;
$whatYouGetDescription: #848e97;
$aboutForkTextColor: #ffffff;
$underLineColor: #645766;
$btnAndTitleColor: #8d81ac;
$hoverColor: #ffffff;
$whatYouGetName: #323232;
$whatYouGetDescription: #848e97;
$aboutForkTextColor: #ffffff;
$underLineColor: #645766;

