@import "../abstracts/variables";
@import "../abstracts/mixins";

.about-fork {
  padding-top: 57px;
  padding-bottom: 15px;
  background-image: url("../IMG/aboutFork/about-fork-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: $aboutForkTextColor;
    margin-bottom: 53px;
  }
  &__logo {
    margin-bottom: 33px;
  }
  &__description {
    margin-bottom: 45px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $aboutForkTextColor;
    font-family: "Lato", sans-serif;
  }
  &__additional-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__additional-info {
    font-size: 14px;
    line-height: 21px;
    color: #a291a5;
    margin-bottom: 20px;
    font-family: "Lato", sans-serif;
  }
  &__underline {
    height: 2px;
    background-color: $underLineColor;
    width: 95%;
  }
}

@media (min-width: $min-tablet-width) {
  .about-fork {
    padding-bottom: 87px;
    padding-bottom: 20px;
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      row-gap: 50px;
      align-items: baseline;
      margin-bottom: 68px;
    }
    &__title {
      font-size: 42px;
      line-height: 44px;
    }
    &__description {
      margin: 0;
    }
  }
}

@media (min-width: $min-pc-width) {
  .about-fork {
    &__wrapper {
      column-gap: 90px;
      row-gap: 116px;
      margin-right: 80px;
      margin-left: 80px;
    }
    &__title {
      font-size: 48px;
      line-height: 50px;
    }
  }
}
