@import "../abstracts/variables";
@import "../abstracts/mixins";

.footer-subscription {
  background-image: url("../IMG/footer/test.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 88px;
  padding-bottom: 94px;
  &__wrapper > :first-child > .footer-subscription__description {
    margin-bottom: 54px;
  }
  &__wrapper > :nth-child(3) {
    background: rgba(70, 48, 72, 0.84);
    width: 299px;
    height: 560px;
    .footer-subscription__price {
      font-size: 82px;
      line-height: 84px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 44px;
    margin-bottom: 39px;
    color: #ffffff;
  }
  &__data {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 257px;
    height: 480px;
    margin-bottom: 18px;
    background: rgba(255, 255, 255, 0.11);
  }
  &__plan {
    padding: 36px 32px;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.06);
  }
  &__price {
    font-size: 60px;
    line-height: 90px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  &__period {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 38px;
  }
  &__underline {
    width: 60px;
    height: 5px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: $btnAndTitleColor;
  }
  &__description {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    margin-bottom: 36px;
  }
  &__purchase-btn {
    margin: 0 auto;
    width: 163px;
    height: 45px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    color: #ffffff;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
  }
}

@media (min-width: 560px) {
  .footer-subscription {
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (min-width: 1100px) {
  .footer-subscription {
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
